.footer {
  background: #f8f8fa;
  padding: 0rem 2rem;
}

.footer-logo {
  color: #332e54;
  margin: 2rem 0;
  font-size: 1.7rem;
}

.footer-links-horizontal {
  display: flex;
  width: 100%;
}

.social-media-container {
  color: #706d87;
}

.social-media-container > * {
  margin: 1rem 0;
}

.icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}
.icon-container > * > img {
  width: 2rem;
  height: 2rem;
}

.footer-link-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-link-container:first-child {
  color: #332e54;
}
.footer-link-container:last-child {
  color: #706d87;
}

.footer-link {
  margin: 1rem 0;
}

.footer-section {
  border-top: 1px solid #e1e0e6;
  padding: 3rem 0;
}
.footer-section:first-child {
  border-top: none;
}
.footer-section:last-child {
  padding: 1rem 0;
}

.footer-privacy-container {
  display: flex;
  flex-wrap: wrap;
}
