.footer {
  background: #f8f8fa;
  padding: 3rem 2rem;
}

.footer-links-horizontal {
  display: flex;
  margin: 2rem 0;
  width: 100%;
  justify-content: left;
}

.footer-link-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-link-container:first-child {
  color: #332e54;
}
.footer-link-container:last-child {
  color: #706d87;
}

.footer-link {
  margin: 1rem 0;
}
