.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

.main-header > * {
  margin: 1rem;
}

.logo {
  color: #332e54;
  font-family: "Larsseit", sans-serif;
  font-weight: 400;
  user-select: none;
  font-size: 1.4rem;
}

.hamburger-button {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  fill: #332e54;
}

.main-header {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  height: fit-content;
  width: 100vw;
  background-color: white;
  transition: 0.4s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}
.main-header.open {
  transform: translateY(0);
  opacity: 1;
}

.link-text {
  font-family: "Larsseit Light", sans-serif;
  cursor: pointer;
  font-size: 1.3rem;
  user-select: none;
  color: #332e54;
}

.link-container,
.login-btn-container {
  display: flex;
  justify-content: left;
}
.link-container {
  flex-direction: column;
}
.link-container > * {
  margin: 1rem;
}
.login-btn-container {
  flex-direction: row;
  align-items: center;
}
.login-btn-container > * {
  margin: 1rem;
}

.cross {
  width: 1.4rem;
  height: 1.4rem;
  fill: #332e54;
}

.title-container,
.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.mobile-header {
  width: 100vw;
}
