@media only screen and (min-width: 1200px) {
  .logo,
  .hamburger-button,
  .cross {
    cursor: pointer;
  }

  .cross {
    padding-right: 1rem;
  }

  .mobile-header {
    display: none;
  }
  .header {
    margin: 0;
  }
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .main-header > * {
    margin: 0;
  }
  .cross {
    display: none;
  }
  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
