.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header > * {
  margin: 1rem;
}

.hamburger-button {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border: 1px solid black;
}

.main-header {
  position: absolute;
  left: 0;
  top: 0;
  height: fit-content;
  width: 100vw;
  background-color: white;
}

.link-container,
.login-btn-container {
  display: flex;
  justify-content: left;
}
.link-container {
  flex-direction: column;
}
.login-btn-container {
  flex-direction: row;
}

.cross {
  width: 1.4rem;
  height: 1.4rem;
  fill: #332e54;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
