@import url(//db.onlinewebfonts.com/c/f4c9951744c0ef14010218fc1b2f7938?family=Larsseit);
@import url(//db.onlinewebfonts.com/c/7d63af02c08816194ff9ca408837b97c?family=Larsseit+Light);
@import url(//db.onlinewebfonts.com/c/4e6177b918ba7f280b5db111d868cc94?family=Larsseit+Thin);
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

/* 
  font-family: "Larsseit Thin", sans-serif;
  font-family: "Larsseit Light", sans-serif;
  font-family: "Larsseit", sans-serif; 
*/

* {
  font-family: "Larsseit", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* General Styles */

body {
  position: relative;
  margin: 0;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  display: block;
  overflow-x: hidden;
}

.section {
  position: relative;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

/* Section 1 & 5 */

.survey-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}

.survey-privacy-text {
  font-family: "Larsseit", sans-serif;
  color: #878492;
  font-size: 0.7rem;
  margin: 1rem;
}

/* Section 1: Splash */

.section:first-child {
  margin: 0;
}

.splash {
  position: relative;
  width: 100%;
  height: 37rem;
  background-color: #d1c3ee;
}

.splash-image {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1571779719707-0f24f62ab4fc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1308&q=80);
  background-position: 42% 62%;
}

.splash-text-container {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 10rem;
  padding: 2rem;
  color: #332e54;
}

.splash-main-text {
  font-size: 2rem;
}

.splash-sub-text {
  font-family: "Larsseit Light", sans-serif;
  font-size: 1rem;
}

.splash-text-container > * {
  margin: 1.5rem 0;
}

/* Section 2: Testimonies */

.testimony-text-container {
  margin: 1rem;
}

.testimony-title {
  text-align: center;
  font-family: "Larsseit Light", sans-serif;
  font-size: 1.5rem;
  margin: 1.8rem;
  color: #332e54;
  line-height: 2rem;
}

.testimony-paragraph {
  font-family: "Larsseit Light", sans-serif;
  font-size: 1.2rem;
  margin: 1.8rem;
  color: #706c87;
  line-height: 1.5rem;
}

.pre-gradient {
  height: 15rem;
  width: 100vw;
  margin-bottom: -3rem;
  z-index: 10;
}

/* Section 3 & 5 */

.pocket-guy > img,
.toast > img {
  width: 100vw;
}

.white-overlay-text {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 20;
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 1.9rem;
}

/* Section 3: Pocket Guy */

.pocket-guy > .pre-gradient {
  background: linear-gradient(
    180deg,
    hsl(261.3, 27.6%, 68%) 0%,
    hsl(261.3, 27.6%, 68%) 90%,
    hsla(261.3, 27.6%, 68%, 0%) 100%
  );
}

.pocket-guy > .white-overlay-text {
  top: 10%;
}

/* Section 4: Callouts */

.callouts {
  margin: 5rem 0;
}

.callout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.callout-container > * {
  margin: 1.6rem;
}

.callout-title {
  font-family: "Larsseit", sans-serif;
  margin: 5px 0;
}
.callout-paragraph {
  font-family: "Larsseit Thin", sans-serif;
  margin: 5px 0;
}

/* Section 5: Toast */

.toast > .pre-gradient {
  background: linear-gradient(
    180deg,
    hsl(223, 30%, 77%) 0%,
    hsl(223, 30%, 77%) 80%,
    hsla(223, 30%, 77%, 0%) 100%
  );
}

.toast > .white-overlay-text {
  top: 7%;
}

.toast-image {
  background-image: url(https://images.unsplash.com/photo-1556228578-626e9590b81f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
}

.toast-after {
  background: linear-gradient(
    180deg,
    hsla(223, 30%, 77%, 0%),
    hsl(223, 30%, 77%) 3%,
    hsl(223, 30%, 77%) 100%
  );
  margin-top: -1.4rem;
  height: fit-content;
  width: 100vw;
}

.toast-text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0;
}

.toast-text-title {
  font-family: "Larsseit", sans-serif;
  color: white;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.section:last-child {
  margin: 0;
}
