@media only screen and (min-width: 1200px) {
  /* Section 1: Splash */

  .mobile-header {
    padding: 0 2rem 0 1rem;
  }

  .section.splash {
    height: 42rem;
  }

  .splash-text-container {
    width: 21.8rem;
    left: 65vw;
    top: 18vh;
  }

  .splash-text-container > .survey-container {
    margin: 2rem 0 0 1.3rem;
  }

  /* Section 2: Testimonies */

  .testimony-title {
    font-family: "Larsseit", sans-serif;
  }
  .testimony-text-container {
    width: 20vw;
  }
  .section.testimonies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(30rem + 40vw);
    margin: 3rem auto;
  }
  .section.testimonies > * {
    padding: 2rem;
  }
  .section.testimonies > *:nth-child(3) {
    order: 4;
  }
  .testimony-paragraph {
    line-height: 2.5rem;
  }

  /* Section 3: Pocket Guy */
  .section.pocket-guy {
    height: 100vh;
  }
  .pocket-guy > .white-overlay-text {
    left: 0%;
    top: 0;
    transform: translateX(26vw);
    font-size: 3rem;
    width: 20rem;
    line-height: 10rem;
  }
  .pocket-guy > img {
    width: 50vw;
  }

  /* Section 4: Callouts */

  .callout-container {
    flex-direction: row;
  }
  .callout-container > *:nth-child(even) {
    padding-left: 0;
  }
  .callout-container > *:nth-child(odd) {
    padding-right: 0;
  }
  .callout-container > * {
    margin: 4rem;
  }
  .callout-container > * > * {
    padding: 2rem;
    width: 20rem;
    margin-left: -1rem;
  }

  .callout-container > * > * > div:last-child {
    padding: 0 1.5rem;
  }

  .callout-title {
    margin: 1rem 1rem 2rem 1rem;
    font-size: 1.7rem;
  }
  .callout-paragraph {
    margin: 1rem;
    font-size: 1.4rem;
  }

  /* Section 5: Toast */

  .toast > .white-overlay-text {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .toast-image {
    padding-top: 44rem;
    transform: translate(34%, -5%) scale(1);
  }
  .toast-text-title {
    font-size: 2rem;
  }
  .list-item {
    font-size: 1.5rem;
  }
  .toast-text-container {
    transform: translate(-0%, 20%);
  }
}
