@media only screen and (min-width: 600px) {
  /* Section 1: Splash */
  .splash-image {
    background-position: calc(-40rem + 30vw) 60%;
  }
  .splash-text-container {
    left: 66vw;
    top: 20%;
    width: 20vw;
  }
  .splash-main-text {
    font-size: calc(1.5rem + 1vw);
  }
  .splash-sub-text {
    font-size: calc(0.7rem + 1vw);
  }

  /* Section 2: Testimonies */

  .testimony {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .testimony-text-container {
    margin: 0 18rem;
  }

  /* Section 3: Pocket Guy */

  .section.pocket-guy {
    position: relative;
    background-color: hsl(49, 11%, 65%);
    height: 40rem;
  }
  .section.pocket-guy > .pre-gradient {
    display: none;
  }
  .pocket-guy > .white-overlay-text {
    position: relative;
    transform: translateY(-30%);
    width: 20vw;
    left: calc(12.5rem + 4vw);
    font-size: 2rem;
  }
  .pocket-guy > img {
    width: 30rem;
    position: absolute;
    left: 0;
  }

  /* Section 4: Callouts */

  .callout-container {
    display: flex;
    flex-direction: column;
  }
  .callout-container > *:nth-child(odd) {
    padding-right: 7rem;
  }
  .callout-container > *:nth-child(even) {
    padding-left: 7rem;
  }
  .section.callouts {
    margin: 5rem 0 7rem 0;
  }
  .callout-title {
    font-size: calc(0.8rem + 1vw);
  }
  .callout-paragraph {
    font-size: calc(0.5rem + 1vw);
  }

  /* Section 5: Toast */

  .section.toast {
    position: relative;
    height: 100vh;
  }
  .toast > .pre-gradient {
    display: none;
  }
  .section.toast,
  .toast-after {
    background: rgb(196, 186, 221);
  }

  .toast-image {
    width: 50vw;
    position: absolute;
    right: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 90%,
        rgb(196, 186, 221)
      ),
      url("");
    height: 15rem;
    transform: translate(5%, -5%);
  }
  .toast-text-container {
    left: 0;
    transform: translate(-20%, 15%);
  }
}
