/* #524D6E */

.multiple-choice-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.multiple-choice {
  display: flex;
  margin: 0.25rem 0.5rem;
}

.multiple-choice-label {
  margin: 1rem;
}

.question {
  margin: 6rem 0;
}

.sub-question {
  margin: 4rem 0;
}
